
body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  margin: auto;
  text-align: center;
}

.strava-login {
  display: inline-grid;
}

.card {
  margin: 10px;
  border: 1px solid rgba(255, 76, 0, 100);
}

.runMap {
  background-color: aqua;
}

.welcome {
  padding: 30px;
}

.btn {
  margin-top: 10px;
}