
html, body {
  height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  margin: auto;
}

.stat-card {
  border: 1px solid rgba(255, 76, 0, 100);
}


.login-card {
  margin-top: 10em;
  text-align: center;
  width: 25em
}

.dashboard-loader {
  margin-top: 100px;
  height: 200px;
  width: 200px;
  margin: 20px 20px;
}

.runMap {
  background-color: aqua;
}

.welcome {
  padding: 30px;
}

.btn {
  margin-top: 10px;
}